In [1]:
import pandas as pd
import ast
import numpy
import sqlite3 as sql
import os

In [2]:
#vars
input_folder = os.path.join('..','input')

In [3]:
movies_df = pd.read_csv(os.path.join(input_folder,'movies_metadata.csv'))

c:\users\marc\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
movies_genres = []
genre_names = []

In [5]:
for index, row in movies_df.iterrows():
    genres = ast.literal_eval(row["genres"])
    for genre in genres:        
        genre_names.append(genre)           
        movie_genre = dict(
            movie_id=row['id'],
            genre_id=genre['id'],
        )   
        movies_genres.append(movie_genre)

In [6]:
movies_genres_df = pd.DataFrame(movies_genres)

In [7]:
movies_genres_df

      movie_id  genre_id
0          862        16
1          862        35
2          862     10751
3         8844        12
4         8844        14
...        ...       ...
91101   439050     10751
91102   111109        18
91103    67758        28
91104    67758        18
91105    67758        53

[91106 rows x 2 columns]

In [8]:
genre_names_df = pd.DataFrame(genre_names).drop_duplicates()

In [9]:
genre_names_df

          id                                   name
0         16                              Animation
1         35                                 Comedy
2      10751                                 Family
3         12                              Adventure
4         14                                Fantasy
6      10749                                Romance
9         18                                  Drama
12        28                                 Action
13        80                                  Crime
15        53                               Thriller
32        27                                 Horror
36        36                                History
63       878                        Science Fiction
82      9648                                Mystery
105    10752                                    War
138    10769                                Foreign
158    10402                                  Music
190       99                            Documentary
486       37                                Western
738    10770                               TV Movie
44572  11176                   Carousel Productions
44573  11602              Vision View Entertainment
44574  29812       Telescene Film Group Productions
62872   2883                                Aniplex
62873   7759                                GoHands
62874   7760                              BROSTA TV
62875   7761  Mardock Scramble Production Committee
62876  33751                       Sentai Filmworks
74039  17161                          Odyssey Media
74040  18012                     Pulser Productions
74041  18013                            Rogue State
74042  23822                             The Cartel